.topbarContainer{
    background-color: orangered;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 10px 20px;
    z-index: 999;
}

@media (max-width:579px) {
    .topbarContainer{
        width: 540px;
    }
}
.topbarLeft{
    flex: 3;
    font-family: "nunito";
    font-weight: 900;
    
}
.logo{
    font-size: 40px;
    color: white;

}
@media (max-width:850px) {
    .logo{
        font-size: 20px;
    }
}
.topbarCenter{
    flex: 5;
}
.searchbar{
    /* width: 100%; */
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 5px 9px;
}
@media (max-width:572px) {
    .searchbar{
        padding: 1px 7px 1px 1px;

    }
}
.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;
}
.searchInput{
    border: none;
    outline: none;
    width: 100%;
}

.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--white);
}
.topbarLink{
    cursor: pointer;
    margin-right: 15px;
}
.topbarIcons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    /* width: 100%; */
}
.topbarIconItem{
    display: flex;
    cursor: pointer;
    position: relative;
    
}
.topbarIconBadge{
    width: 15px;
    height: 15px;
    display: flex;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    align-items: center;
    justify-content: center;
}
.topbarimg{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}
/* @media (max-width:579px) {
    .topbarContainer{
        background-color: white;
    }
    .logo{
        color: orangered;
    
    }
    .searchbar{
        border: orangered 2px solid;
    }
    .topbarIconItem{
        color: rgb(169, 56, 15);
    }
    .topbarIconBadge{
        background-color: rgb(86, 86, 206);
        color: antiquewhite;
    }
} */